.container {
  display: flex;
}
.navbar {
  width: 20.3%;
  padding: 40px 35px;
  border-right: 1px solid #333;
}

.content {
  width: 79.7%;
  padding: 40px 80px 140px;
  @media (max-width: 1024px) {
    width: 100%;
  }
  @media (max-width: 900px) {
    padding: 40px 50px 140px;
  }
  @media (max-width: 450px) {
    padding: 40px 30px 140px;
  }
}
